.right {
	float: right;
}

.left {
	float: left;
	vertical-align: top;
}

#circleChart path {
  stroke: #fff;
}

.hired path {
    fill: none;
    stroke-opacity: .7;
    stroke-width: 3px !important;
}

#slider {
	/*width: 20%;*/
}

#interaction {
	width: 50%;
	padding: 4px;
}

#map {
	width: 60%;
	height: 400px;
}