body {
	background-color: #8A7E9C;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #4A4A4A;
}

#container {

	width: 100%;
	float: left;

}

h1 {	
	text-align: center;
	font-size: 35pt;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

p {
	font-size: 15pt;
	text-align: center;
}



#leftSide {


    width: 49%;
    float: left;

    margin: 0 auto;

}

#header {


	float: top;

}

#circleChart1 {

    width:700px;
	float: top;
	margin: 0 auto;
}

#test {


	float: left;
}

#rightSide {


    width: 49%;
    float: right;
}

#interaction {


	width: 100%;
	height: 50px;

	overflow: hidden;
}

#interaction p, #interaction input{
	float: left;
	padding: 10px;
	margin: 0;
}

#interaction input {
	padding: 10px 30px;
	font-size: inherit;
	border-radius: 10px;
	border: none;
	font-family: inherit;
	height: 43px;
	background: white;
	color: black;
}

#interaction input:hover {
	background: #bAaEcC;
	color: white;
}

#dayChart {

	position: relative;
	width: 300px;
	height: 300px;
	text-align: center;
	
	float: right;
}

#map {
	width: 100%;
	height: 400px;
	float: bottom;
}

.right {
	float: right;
}

.left {
	float: left;
	vertical-align: top;
}

.hired path {
    fill: none;
    stroke-opacity: .7;
    stroke-width: 3px !important;
}

#circleChart, #slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#slider {
	z-index: 10;
}



