body {
	background-color: #8A7E9C;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #4A4A4A;
}

#container {
	width: 100%;
	height: 100vh;
	float: top;
}

#leftSide {
	width: 49%;
	margin: 0 auto;
	float: left;
}
#rightSide {
	width: 49%;
	margin: 0 auto;
	float: right;
}
#bottom {
	width: 100%;
	float: left;
}
#header {
	height: 20vh;
	float: top;
}

h1 {	
	text-align: center;
	font-size: 5vh;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h2 {
	text-align: center;
	font-size: 3vh;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
p {
	font-size: 1.5vh;
	text-align: center;
}

#dayChart {
	width: 69%;
	height: 60vh;
	margin: 0 auto;
	position: relative;
	text-align: center;
	float: left;
}
#interaction {
	width: 29%;
	height: 60vh;
	float: left;
	overflow: hidden;
}

#interaction p, #interaction input{
	margin: 5vh 5vh;
}
#interaction input {
	padding: 10px 30px;
	font-size: inherit;
	border-radius: 10px;
	border: none;
	font-family: inherit;
	height: 43px;
	background: #D3D3D3;
	color: black;
}
#interaction input:hover {
	background: #bAaEcC;
	color: white;
}

#map {
	width: 100%;
	height: 80vh;
	float: bottom;
}

#dateSlider {
	float:left;
	height: 15vh;
	width: 60%;
}
#gradient {
	float:right;
}
#gradient p {
	font-size: 2vh;
	display: inline;
}
.right {
	float: right;
}

.left {
	float: left;
	vertical-align: top;
}

.hired path {
	fill: none;
	stroke-opacity: .7;
	stroke-width: 3px !important;
}

#circleChart, #slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#slider {
	z-index: 10;
}
